.App {
  text-align: center;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-login{
background-color:#FFD700;
  }


  label {
			display: block; margin: 5px 0;
		}

		label span.text {
			padding: 4px 0; display: block;
		}

		label input {
			box-sizing: border-box; -moz-box-sizing: border-box;
			margin: 0; padding: 0 5px;
			width: 100%; height: 30px;
		}

		div.align-right {
			text-align: right;
		}

		button {
			margin: 5px; padding: 0 20px;
			height: 30px; line-height: 30px;
			background: #3d8746;
			border: none; border-radius: 15px;
			color: #f0f0f0;

			transition: background 120ms;
		}

		button:hover {
			background: #44964e;
		}
			
  form#main-login {
			margin: 80px auto; padding: 20px;
			width: 400px;
			background: #FDF5E6; border-radius: 10px;
			box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
		}


.App-intro {
  font-size: large;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
